.footer {
    position:relative;

    &__info {
        position: absolute;
        padding: 50px 53px 56px 53px;
        background-color: $primery;
        max-width: 460px;
        max-height: 270px;
        text-align: center;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);

            @media (max-width: 575.98px) {
                padding: 35px 38px;
            }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 27px;
        margin-top: 36px;

            @media (max-width: 575.98px) {
                gap: 15px;
                margin-top: 30px;
            }
    }

    &__social-item {
    }

    &__addr {
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: $secondary;

            @media (max-width: 575.98px) {
                font-size: 18px;
            }
    }
    &__tel {
        display: block;
        margin-top: 36px;
        color: $secondary;
        font-weight: 700;
        font-size: 20px;
            @media (max-width: 575.98px) {
                font-size: 18px;
            }
    }
}
