.promo {
    padding: 21px 0 93px 0;
    background: url('../images/bg/header-bg.jpeg') center center/cover no-repeat;
        @media (max-width: 767.98px) { 
            padding: 20px 0 40px 0;
        }
}


.body-promo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $secondary;
    margin-top: 90px;

    @media (max-width: 575.98px) {
        margin-top: 50px;
        align-items: center;
    }

    &__title {
        text-transform: uppercase; 
        text-align: end;
            @media (max-width: 575.98px) {
                text-align: center;
            }
        h1 {
            max-width: 550px;
            font-weight: 700;
            font-size: 42px;
            letter-spacing: 1.5px;
                @media (max-width: 767.98px) { 
                    font-size: 38px;
                }
                @media (max-width: 575.98px) {
                    font-size: 34px;
                }
                
        }
        h2 {
            max-width: 540px;
            display: block;
            font-size: 24px;
            margin-top: 17px;
                @media (max-width: 767.98px) { 
                    font-size: 20px;
                }
                @media (max-width: 575.98px) {
                    font-size: 18px;
                }
            
        }
    }

    &__items {

        display: flex;
        text-align: center;
        gap: 40px;
        margin-top: 61px;
        padding-bottom: 65px;
            @media (max-width: 767.98px) { 
                margin-top: 45px;
                gap: 30px;
                padding-bottom: 25px;
            }
            @media (max-width: 575.98px) {
               gap: 10px;    
               padding-bottom: 15px; 
            }
    }

    &__item {

        max-width: 110px;
        
        &:last-child {
            margin-right: 20px;
                @media (max-width: 767.98px) { 
                margin-right: 0;
                }
        }
        img {
            max-width: 100%;
        }
            @media (max-width: 767.98px) { 
                flex: 1 1 33.333%;
            }
    }

    &__text {
        margin-top: 20px;
    }

    &__button {
        display: flex;
        
        padding: 20px 43px;
        font-size: 16px;
            @media (max-width: 767.98px) { 
               margin-top: 40px;
            }
            @media (max-width: 575.98px) {
                font-size: 14px;
                padding: 16px 34px;
                margin: 0 auto;
                
            }
    }

    &__link {
        margin-top: 15px;
        font-size: 16px;
        a {
            text-decoration: underline;
            color: $secondary;
            @media (max-width: 767.98px) { 
                font-size: 12px;
            }
        }
       
    }
}
